## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("~/Desktop/6 API/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hithadhoo,MV,81.41,broken clouds,-0.6000,73.0833,Scoop Guest House
1,4,Victoria,HK,85.32,clear sky,22.2855,114.1577,Mini Central
2,5,Carnarvon,AU,65.57,clear sky,-24.8667,113.6333,Hospitality Carnarvon
3,6,Kutum,SD,80.19,light rain,14.2000,24.6667,Dibbo areaمنطقة دبو
4,8,Salalah,OM,77.09,few clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#vacation_df.loc[vacation_df["Country"] == "JP"]

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Hasaki"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Hasaki"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ohara"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katsuura"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mikuni"]

In [22]:
# df
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
148,276,Hasaki,JP,79.29,scattered clouds,35.7333,140.8333,Inubosaki Kanko Hotel

In [19]:
# Series
vacation_start["Lat"]

148    35.7333
Name: Lat, dtype: float64

In [20]:
# covert Series to Array
vacation_start["Lat"].to_numpy()

array([35.7333])

In [21]:
# take the first element of the array is a scalar (#)
vacation_start["Lat"].to_numpy()[0]

35.7333

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Stop 1 {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (35.7333, 140.8333), End: (35.7333, 140.8333)
Stop 1 (35.25, 140.3833), Stop 2: (35.1333, 140.3), Stop 3: (36.2171, 136.1519)

In [28]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING" or "BICYCLING" or "WALKING")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],
                         ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,276,Hasaki,JP,79.29,scattered clouds,35.7333,140.8333,Inubosaki Kanko Hotel
1,296,Ohara,JP,79.95,few clouds,35.2500,140.3833,Sakigake
2,31,Katsuura,JP,80.46,few clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,689,Mikuni,JP,76.91,light rain,36.2171,136.1519,Seifuso

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))